*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/imageSources/
/app/release/
/app/release/app-release.aab
/app/src/test/*
/.idea/shelf/Uncommitted_changes_before_rebase_[Default_Changelist]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_rebase__Default_Changelist_.xml
/app/src/androidTest/java/nl/joozd/logbookapp/ExampleInstrumentedTest.kt
