<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="nl.joozd.logbookapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".ui.activities.ChangePasswordActivity"/>
        <activity android:name=".ui.activities.MakePdfActivity" />
        <activity android:name=".ui.activities.CreateNewUserActivity" />
        <activity android:name=".ui.activities.newUserActivity.NewUserActivity" />
        <activity android:name=".SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.joozd.logbookapp.ui.activities.MainActivity" />
        </activity>
        <activity android:name=".ui.activities.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.joozd.logbookapp.ui.activities.MainActivity" />
        </activity>
        <activity android:name=".ui.activities.ExportPdfActivityOld" />
        <activity android:name=".ui.activities.TotalTimesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.joozd.logbookapp.ui.activities.MainActivity" />
        </activity>
        <activity android:name=".ui.activities.BalanceForwardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="nl.joozd.logbookapp.ui.activities.MainActivity" />
        </activity>
        <activity
            android:name=".ui.activities.pdfParserActivity.PdfParserActivity"
            android:excludeFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/pdf" />
                <data android:mimeType="text/csv" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activities.MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="joozd.nl"
                    android:pathPrefix="/inject-key"
                    android:scheme="https" />
            </intent-filter>
        </activity>
    </application>

</manifest>